.chirp {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(95, 108, 116);
    min-width: 35vw;
    padding: .5rem;
    animation: slidein 2s;
    z-index: -1;
    overflow: hidden;
}

@keyframes slidein {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
    }
}
.chirp__main {
    display: flex;
    flex-grow: 1;
    margin-left: 1rem;
    overflow: hidden;
}

.chirp__icon {
    max-height: 50px;
    min-width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: .25rem;
  }

.chirp__body {
    margin: .5rem 0 0 1rem;
    flex-grow: 1;
}

.chirp__header {
    display: flex;
    justify-content: space-between;
}

.chirp__header span {
    margin: 0 .25rem 0 .5rem;
}

.chirp__options button {
    background-color: black;
    color: rgb(101, 119, 134);
    border: none;
    padding: .3rem .4rem .3rem .4rem;
    border-radius: 10rem;
    font-weight: bold;
}


.chirp__options button:hover {
    background-color: rgba(29,155,240,0.1);
    color: #099bf5;
}

.chirp__timestamp {
    text-decoration: none;
    color: rgb(101, 119, 134);
}

.chirp__timestamp:hover {
    text-decoration: underline;
}

.chirp__user {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chirp__user:hover {
    text-decoration: 1px underline;
}

.chirp__message {
    text-decoration: none;
    color:white;
}

.chirp__message p {
    margin-bottom: .5rem;
    font-weight: normal;
    margin-left: 0;
    overflow-wrap: break-word;
}
