.chirp {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(95, 108, 116);
    min-width: 35vw;
    padding: 1rem;
}

.chirp__icon {
    max-height: 50px;
    min-width: 50px;
    background-color: #bbb;
    border-radius: 50%;
  }

.chirp__main > section > span {
    color: rgb(110, 118, 125);
    margin-right: 2px;
    padding: 0;
}

.chirp__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1rem;
    overflow: hidden;
}

.chirp__main-timestamp {
    text-decoration: none;
    color: rgb(101, 119, 134);
}

.chirp__main-timestamp:hover {
    text-decoration: underline;
}

.chirp__main-user {
    text-decoration: none;
    color: white;
}

.chirp__main-user:hover {
    text-decoration: underline;
}

.chirp__main-message {
    text-decoration: none;
    color:white;
}

.chirp__main-message p {
    margin-bottom: .5rem;
    font-weight: normal;
    margin-left: 0;
    overflow-wrap: break-word;
}

.chirp__main-actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.chirp__main-actions button {
    margin: 0;
    padding: 0;
}

