.chirp {
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid rgb(95, 108, 116);
    border-bottom: 1px solid rgb(95, 108, 116);
    min-width: 35vw;
    padding: 1rem;
}

.chirp__icon {
    height: 50px;
    min-width: 50px;
    background-color: #bbb;
    border-radius: 50%;
  }

.chirp__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1rem;
}

.chirp__main a {
    text-decoration: none;
    color: white;
}

.chirp__main a:hover {
    text-decoration: underline;
}

.chirp__main-timestamp {
    color: rgb(101, 119, 134);
}

.chirp__main-message {
    margin-bottom: .5rem;
    font-weight: normal;
    margin-left: 0;
}

.chirp__main-actions {
    display: flex;
    position: relative;
    right: 1rem;
    justify-content: space-between;
    padding-right: 2rem;
}

.chirp__main-actions button {
    margin: 1rem 1rem 0 1rem;
}

