/* .profile__summary {
    border-bottom: 1px solid rgb(95, 108, 116);
} */

.profile__banner {
    height: 11rem;
    border: none;
    width: 100%;
    background-color: rgb(47, 51, 54);
    z-index: 1;
    object-fit: fill;
}

.profile__picture {
    position: absolute;
    transform: translateX(25%) translateY(-50%);
    max-height: 120px;
    max-width: 120px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 2;
    overflow: visible;
    border: 5px solid black;
}

.profile__user {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.profile__follow {
    margin-top: 1rem;
}


.profile__follow > a {
    text-decoration: none;
    color: white;
    font-size: smaller;
    margin-right: 1rem;
}

.profile__follow > a:hover {
    text-decoration: 1px underline;
}

.profile__follow-desc {
    color: rgb(101, 119, 134);
}

#user {
    font-size: 1.5rem;
}