.profile__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
    padding: .5rem 0 .5rem 0;
    background-color: rgba(0, 0, 0, 0.8);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .profile__header {
        background: transparent;
        backdrop-filter: blur(2px);
    }
  }

.profile__header-back {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.profile__header-back > a {
    display: flex;
    padding: .5rem;
    margin: 0 .5rem 0 .5rem;
}

.profile__header-back > a:hover {
    background-color: #272a2e;
    border-radius: 2rem;
}

.profile__header-main {
    display: flex;
    flex-direction: column;
}

.profile__header-main > h3 {
    margin: 0 0 0 0;
}

.profile__header-main > span {
    color: rgb(110, 118, 125);
    font-size: smaller;
    margin-top: 3px;
    margin-left: 2px;
}