.layout {
    display: flex;
    min-height: 100vh;
}

.layout__main {
    position: relative;
    margin-left: 30%;
    border-right: 1px solid rgb(95, 108, 116);
    border-left: 1px solid rgb(95, 108, 116);
    min-width: 40%;
    max-width: 40%;
    min-height: 100%;
}

.layout__sidebar {
    margin-left: 1rem;
    width: 20%;
}

@media (width < 1075px) {
    .layout__menubar {
        width: 20%;
        justify-content: center;
    }
    .layout__main {
        margin-left: 15%;
        border-right: 1px solid rgb(95, 108, 116);
        border-left: 1px solid rgb(95, 108, 116);
        min-width: 70%;
        max-width: 70%;
        min-height: 100%;
    }
}