.layout {
    display: flex;
    min-height: 100vh;
}

.main {
    width: 40rem;
    border-right: 1px solid rgb(95, 108, 116);
    border-left: 1px solid rgb(95, 108, 116);
}

.menubar {
    overflow: hidden;
}
