.layout {
    display: flex;
    min-height: 100vh;
}

.main {
    margin-left: 386px;
    width: 40rem;
    border-right: 1px solid rgb(95, 108, 116);
    border-left: 1px solid rgb(95, 108, 116);
}

.menubar {
    position: fixed;
    height: 100vh;
    overflow: hidden;
}
