.chirp__actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.chirp__actions button {
    margin: 0;
    padding: 0;
}

.chirp__actions-icon {
    display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    align-items: center;
}

.chirp__actions-icon__main {
    display: flex;
    padding: .5rem;
    border-radius: 5rem;
    justify-content: center;
}

.chirp__actions-icon:hover .chirp__actions-icon__reply {
    background-color: rgba(29,155,240,0.1);
}

.chirp__actions-icon:hover .chirp__actions-icon__reply svg {
    fill: #099bf5;
}

.chirp__actions-icon:hover .chirp__actions-icon__rechirp {
    background-color: rgba(0,186,124,0.1);
}

.chirp__actions-icon:hover .chirp__actions-icon__rechirp svg {
    fill: rgba(0,186,124);
}

.chirp__actions-icon:hover .chirp__actions-icon__like {
    background-color: rgba(249,24,128,0.1);
}

.chirp__actions-icon:hover .chirp__actions-icon__like svg {
    fill: rgb(249,24,128);
}

.chirp__actions-icon:active {
    animation: bigsmall 1s;
}

@keyframes bigsmall {
    from {
        transform: scale(110%);
    }
    to {
        transform: scale(100%);
    }
    
}

.chirp__actions-icon__count {
    display: flex;
    padding: .5rem;
    border-radius: 5rem;
    justify-content: center;
    color: white;
    font-size: 1rem;
    color: rgb(101, 119, 134);
}

