.controls {
    display: flex;
    justify-content: right;
    min-height: 5rem;
    align-items: center;
}

.controls > button {
    font-size: 1rem;
    padding: .5rem;
    font-weight: bolder;
    min-height: 2rem;
    min-width: 6rem;
    background-color: black;
    border: solid 1px rgb(83, 100, 113);
    border-radius: 2rem;
    color: white;
    justify-self: center;
    cursor: pointer;
}

.follow:hover {
    background-color: rgb(239, 243, 244, .1);
}

.unfollow:hover {
    color: red;
    background-color: rgb(65, 6, 6);
    border-color: red;
}

.unfollow:hover > span {
    display: none;
}

.unfollow:hover::after{
    content: 'Unfollow'
}

.controls >button:active{
    animation: bigsmall .5s;
}

@keyframes bigsmall {
    from {
        transform: scale(110%);
    }
    to {
        transform: scale(100%);
    }
    
}