.button {
    border-radius: 1rem;
    width: 100%;
    font-size: 1rem;
    padding: .5rem 4rem .5rem 4rem;
    color: white;
    background-color: #0063e2;
}

.button:hover {
    background-color: #2f7bdf;
}

.button:disabled {
    background-color: #333;
}