.button {
    border-radius: 1rem;
    width: inherit;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 3rem .5rem 3rem;
    color: white;
    background-color: #0063e2;
    border: none;
}

.button:hover {
    background-color: #2f7bdf;
}

.button:disabled {
    background-color: #333;
}