.home__header {
    position: sticky;
    top: 0;
    padding: 1rem 0 1rem 1rem;
    background-color: black;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .home__header {
        background: transparent;
        backdrop-filter: blur(15px);
    }
}

.home__header > h2 {
    margin: 0;
}

.home__new-chirp {
    border-bottom: 1px solid rgb(95, 108, 116);
}
