.home__title {
    position: sticky;
    top: 0;
    padding: 1rem 0 1rem 1rem;
    background-color: black;
    z-index: 2;
}
.home__title h1 {
    margin: 0;
}

.home__new-chirp {
    border-bottom: 16px solid rgb(95, 108, 116);
}

.home__chirps-none {
    margin-left: 1rem;
}