.sidebar {
    position: fixed;
    width: 25%;
    right: 4%;
}

.sidebar h2 {
    margin-left: 1rem;
}

.sidebar__follow-off {
    margin-top: 4rem;
}

.sidebar__follow-on {
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) and (orientation:portrait) {
    .sidebar{
        display: none;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    .sidebar{
        display: none;
    }
}