.sidebar {
    position: fixed;
    width: 20%;
    right: 9%;
}

.sidebar h2 {
    margin-left: 1rem;
}

.sidebar__follow-off {
    margin-top: 4rem;
}

.sidebar__follow-on {
    margin-top: 1rem;
}

@media (width < 1075px) {
    .sidebar {
        display: none;
    }
    .modal {
        display: none;
    }
}

