.menu {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    height: 100%;
    width: 70%;
}

.menu li {
    list-style-type: none;
}

.menu ul {
   margin: 0;
   padding: 0;
}

.menu__logo {
    max-width: fit-content;
    padding: 1rem;
}

.menu__item {
    display: flex;
}

.menu__item > a {
    display: flex;
    padding: 1rem;
}

.menu__item > a:hover {
    background-color: #272a2e;
    border-radius: 2rem;
}

.menu__item > a:link {
    text-decoration: none;
  }

.menu span {
    font-size: 24px;
    margin-left: 1rem;
    color: white;
    align-self: flex-end;
}

.menu__item-actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.menu__item-actions > button {
    border-radius: 2rem;
    padding: 1rem 0 1rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 75%;
}

