.menu {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    height: 100%;
}

.menu__logo {
    padding: 1rem;
}

.menu__item {
    display: flex;
    padding: 1rem;
}

.menu__item:hover {
    background-color: #272a2e;
    border-radius: 2rem;
}

.menu a {
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu a:link {
    text-decoration: none;
  }

.menu span {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: white;
    align-self: flex-end;
}

.menu__item-actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.menu__item-actions button {
    border-radius: 2rem;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 85%;
}