.main {
    text-align: center;
    margin-top: 10vh;
}

.title {
    font-size: 3rem;
    margin-top: 0;
}

.options {
    margin: auto;
    max-width: 20rem;
}

.logo {
    max-width: 15rem;
    fill: #099bf5;
}