.main {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input textarea {
    width: 100%;
    min-height: 10vh;
    background-color: black;
    resize: none;
    flex: 1;
    padding: 1rem;
    margin: 0;
    color: white;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 20px;
}

