.tweet {
    display: flex;
}

.tempIcon {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
  }

.tweetMain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1rem;
}

.tweetTime {
    float: right;
}

.tweetMessage {
    margin-bottom: .5rem;
}

.tweetActions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tweetActions button {
    margin: 0 1rem 0 1rem;
}