.signup-form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    justify-content: center;
    margin: auto; 
    padding: 1rem 0 1rem 0;
}

.signup-form__control input {
    margin-top: 1rem;
    font-size: 1rem;
    min-height: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 95%;
    outline: none;
    background-color: black;
    color: white;
    border-color: rgb(47, 51, 54);
    font-weight: bolder;
}

.signup-form__control input:focus {
    border-color: rgb(29, 155, 240);
}

.signup-form__action {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.signup-form__action button {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 1rem;
}