.chirp__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 1rem 0 1rem;
    justify-content: space-between;
}

.chirp__form textarea {
    width: 100%;
    background-color: black;
    resize: none;
    margin: 0;
    color: white;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 1rem;
}

.chirp__form-action {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    padding: .5rem 0 .5rem 1rem;
    align-items: right;
    align-items: center;
}

.chirp__form-action--active {
    border-top: 1px solid rgb(95, 108, 116);
    justify-content: space-between;
    align-items: center;
}

.chirp__form-action button {
    display: flex;
    margin-top: .25rem;
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.image {
    cursor: pointer;
}

.image:active {
    animation: bigsmall .5s;
}

@keyframes bigsmall {
    from {
        transform: scale(110%);
    }
    to {
        transform: scale(100%);
    }
    
}

.staged {
    transform: scale(90%);
    border-radius: 2rem;
    max-width: 100%;
    max-height: 100%;
}

.staged-cancel {
    position: relative;
    transform: translateX(2.25rem) translateY(185%);
    z-index: 3;
    background-color: grey;
    border-radius: 5rem;
    padding: .25rem;
}