.search {
    position: absolute;
    margin: .5rem;
    width: calc(100% - 1rem);
}

.search__dropdown {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 3px white;
    z-index: 2;
    background-color: black;
}

.search__dropdown > p {
    margin: 0;
    padding: 1rem;
}

.search__input {
    display: flex;
    position: relative;
    border: 1px solid rgb(32, 35, 39);
    background-color: rgb(32, 35, 39);
    padding: .5rem 2rem .5rem 1rem;
    align-items: center;
    border-radius: 3rem;
    height: 1.5rem;
}

.search__input-active {
    border: 1px solid rgb(29, 155,240);
    border-color: rgb(29, 155,240);
    background-color: black;
    z-index: 8;
}

.search__input-active input {
    background-color: black !important ;
}

.search__input > input {
    outline: none;
    background-color: rgb(32, 35, 39);
    border: none;
    margin-left: 1rem;
    color: white;
    width: 100%;
    font-size: 1rem;
}